body {
    margin: 0px;
    background-color: #0A3A40;

    font-family: 'Montserrat', sans-serif;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;

    & > .login-form__messages {
        background-color: #6b3232;
        padding: 16px 24px;
        border-radius: 16px;

        & > .login-form__message {
            font-size: 16px;
            color: white;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }
}

.full_width {
    min-width: 100%;
}

.column_hcenter {
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row_hcenter {
    justify-content: center;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}