body {
    margin: 0px;
    background-color: #0A3A40;

    font-family: 'Montserrat', sans-serif;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}